@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Good';
  src: url(../public/Good.otf);
}

@font-face {
  font-family: 'Coms';
  src: url(../public/Coms.otf);
}

.logo {
  font-family: 'Good';
}

.javier {
  font-family: 'Good';
}

h2,
p {
  font-family: 'Coms';
}

textarea {
  resize: none;
}

#home,
#contact,
#skills {
  background-image: url(../public/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#me,
#projects {
  background-image: url(../public/bg5.png);

  background-position: center;
  background-size: cover;
}
